<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsilencej.blogsystem.mapper.StatisticMapper">
  <resultMap id="BaseResultMap" type="com.lsilencej.blogsystem.entity.Statistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="comments_num" jdbcType="INTEGER" property="commentsNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, hits, comments_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lsilencej.blogsystem.entity.Statistic">
    insert into t_statistic (id, article_id, hits, 
      comments_num)
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{hits,jdbcType=INTEGER}, 
      #{commentsNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lsilencej.blogsystem.entity.Statistic">
    insert into t_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="commentsNum != null">
        comments_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="commentsNum != null">
        #{commentsNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsilencej.blogsystem.entity.Statistic">
    update t_statistic
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="commentsNum != null">
        comments_num = #{commentsNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsilencej.blogsystem.entity.Statistic">
    update t_statistic
    set article_id = #{articleId,jdbcType=INTEGER},
      hits = #{hits,jdbcType=INTEGER},
      comments_num = #{commentsNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getTotalHitsNum" resultType="java.lang.Integer">
    select sum(hits) from t_statistic
  </select>
  <select id="getTotalCommentsNum" resultType="java.lang.Integer">
    select sum(comments_num) from t_statistic
  </select>
  <select id="getOrderHitsComments" resultType="com.lsilencej.blogsystem.entity.Statistic">
    select * from t_statistic where hits != '0' order by hits desc, comments_num desc
  </select>
  <select id="selectByArticleId" resultType="com.lsilencej.blogsystem.entity.Statistic">
    select * from t_statistic where article_id = #{articleId}
  </select>
  <update id="updateArticleHits">
    update t_statistic
    set hits = #{hits, jdbcType=INTEGER}
    where article_id = #{articleId, jdbcType=INTEGER}
  </update>
  <update id="updateArticleComments">
    update t_statistic
    set comments_num = #{commentsNum, jdbcType=INTEGER}
    where article_id = #{articleId, jdbcType=INTEGER}
  </update>
  <insert id="addStatistic">
    insert into t_statistic(article_id, hits, comments_num) values (#{id, jdbcType=INTEGER}, 0, 0)
  </insert>
  <delete id="deleteByArticleId">
    delete from t_statistic
    where article_id = #{articleId, jdbcType=INTEGER}
  </delete>
</mapper>